body{
    font-family: garamond;
    font-size: 180%;
}
header{
    background-color: lightgoldenrodyellow;
}
header > a{
    position: relative;
    left: -2000px;
}
header > a:focus{
    left:0px;
}
nav{
    background-color: rgb(127, 255, 148);
    border-radius: 15%;
    border: 2px solid black;
}
nav img{
    width:10%;
    display:inline-block;
}
img{
    padding: 1px;
    border: 1px solid grey;
    border-radius: 10px;
    box-sizing: border-box;
}
main{
    background-color: hotpink;
    font-size: 120%;
}
footer{
    background-color: rgb(194, 158, 109);
    color:rgb(4, 26, 18)
}
li{
    display:inline-block;
    width:25%;
    text-align: center;
}
ul{
    display:inline-block;
    width:80%;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:indigo
}
p{
    line-height: 150%;
}
a:link, a:visited{
    color: black;
}
.grid{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.flex img:nth-child(odd){
    border-radius: 50%;
}
.grid img{
    box-sizing: border-box;
    padding:5%;
    width:100%
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex img{
    width: 19%
}
#baconpic{
    width:15%;
    display: block;
    margin:auto;
    transition:all 2s ease;
}
#baconpic:hover{
    rotate: 360deg;
    scale: 180%
}
