body{
    font-family: garamond;
    font-size: 180%;
}
header{
    background-color: lightgoldenrodyellow;
}
nav{
    background-color: aquamarine;
}
nav img{
    width:10%;
    display:inline-block;
}
main{
    background-color: hotpink;
    font-size: 120%;
}
footer{
    background-color: rgb(194, 158, 109);
    color:rgb(4, 26, 18)
}
li{
    display:inline-block;
    width:25%;
    text-align: center;
}
ul{
    display:inline-block;
    width:80%;
}
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:indigo
}
p{
    line-height: 150%;
}
a:link, a:visited{
    color: black;
}
.grid{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid img{
    box-sizing: border-box;
    padding:5%;
    width:100%
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.flex img{
    width: 19%
}

